*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild


app/src/main/java/com/artapp/podstreleny/palo/artist/ApiKey.java
/src/main/java/com/artapp/podstreleny/palo/artist/ApiKey.java
